.navbar ul{
    list-style-type: none;
    background-color: #1f2833;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: #0F0F0F;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar a:hover{
    background-color: #D3D3D3;
}
.navbar li{
    float: right;
}
