h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    size: 65px;
    padding: 100px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #35a0b5;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    size: 40px;
}
